<launch>
  <!-- Start ZED! -->
  <!-- <include file = "$(find zed_cpu_ros)/launch/zed_cpu_ros.launch" /> -->

  <!-- Start Robosense LIDAR! -->
  <!-- <include file = "$(find rslidar_pointcloud)/launch/rs_lidar_16.launch" /> -->

  <!-- Start fusion node! -->
  <include file = "$(find lidar_camera_fusion_pre)/launch/lidar_left_camera_fusion.launch" />

  <!-- Start Octomap node! -->
  <include file = "$(find octomap_server)/launch/octomap_server_start.launch" />

  <!-- Start octomap_debug.rviz -->
  <node pkg = "rviz" type = "rviz" name = "dlonng_octomap_debug_rviz" respawn = "false" output = "screen" args = "-d $(find octomap_server)/rviz/octomap_debug.rviz"/>

  <!-- Start Lego Loam! -->
  <!-- <include file = "$(find lego_loam)/launch/demo.launch" /> -->

  <!-- Only using in map build test! -->
  <node pkg = "tf2_ros" type = "static_transform_publisher" name = "dlonng_static_test_broadcaster" args = "0 0 0 0 0 0 base_link rslidar" />

</launch>