<launch>
    <!-- 启动点云图像融合 -->
    <include file = "$(find lidar_camera_fusion)/launch/mini_gazebo_lidar_left_camera_fusion.launch" /> 

    <!-- 启动 octomap mapping  -->
    <include file = "$(find octomap_server)/launch/mini_gazebo_octomap_server_start.launch" />

    <!-- 启动 lego_loam -->

    <!-- 运行 move_base 节点 -->
    <include file="$(find agilex_navigation)/launch/lab3_gazebo_nav_with_loam/lab3_move_base.launch"/>

    <!-- 运行 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find agilex_navigation)/rviz/agilex_mini_nav_with_loam.rviz"/>

</launch>
