<launch>
    <!-- 启动点云图像融合节点 -->
    <include file = "$(find lidar_camera_fusion)/launch/mini_gazebo_lidar_left_camera_fusion.launch" /> 

    <!-- 启动八叉树 mapping 节点 -->
    <include file = "$(find octomap_server)/launch/mini_gazebo_octomap_server_start.launch" />

    <!-- 运行 move_base 节点 -->
    <include file="$(find agilex_navigation)/launch/lab2_gazebo_nav_with_odom/lab2_move_base.launch"/>

    <!-- map to odom -->
    <node pkg = "tf2_ros" type = "static_transform_publisher" name = "mini_nav_odom_static_broadcaster" args = "0 0 0 0 0 0 map odom" />

    <!-- 运行 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find agilex_navigation)/rviz/agilex_mini_nav_with_odom.rviz"/>

</launch>
