local_costmap:  
  global_frame: /odom
  #global_frame: /camera_init
  robot_base_frame: base_link
  update_frequency: 5.0 
  publish_frequency: 2.0
  static_map: false  
  rolling_window: true  
  width: 6.0  
  height: 6.0