<!-- 
  Example launch file for octomap_server mapping: 
  Listens to incoming PointCloud2 data and incrementally builds an octomap. 
  The data is sent out in different representations. 

  Copy this file into your workspace and adjust as needed, see
  www.ros.org/wiki/octomap_server for details  
-->
<launch>
	<include file = "$(find lidar_camera_fusion)/launch/lidar_camera_fusion_no_msg.launch" />

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.10" />

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="15.0" />

		<!--<param name = "base_frame_id" type = "string" value = "base_link" />-->

		<!--<param name = "filter_ground" type = "bool" value = "true" />-->
		<!--<param name = "ground_filter/distance" type = "double" value = "0.2" />-->
		<!--<param name = "ground_filter/plane_distance" type = "double" value = "0.5" />-->

		<param name = "latch" value = "false" />

		<param name = "filter_speckles" type = "bool" value = "true" />

		<param name = "sensor_model/hit" type = "double" value = "0.7" />
		<param name = "sensor_model/miss" type = "double" value = "0.2" />

		<param name = "sensor_model/min" type = "double" value = "0.12" />
		<param name = "sensor_model/max" type = "double" value = "0.97" />

		<param name = "height_map" value = "false" />
		<param name = "colored_map" value = "true" />

		<param name = "outrem_radius" type = "double" value = "1.0" />
		<param name = "outrem_neighbors" type = "int" value = "10" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/semantic_cloud_max" />

	</node>

	<node pkg = "tf2_ros" type = "static_transform_publisher" name = "octomap_server_static_broadcaster" args = "0.259 0 0.370 0 0 0 base_link rslidar" />

	<node pkg = "rviz" type = "rviz" name = "octomap_server_debug_rviz" respawn = "false" output = "screen" args = "-d $(find octomap_server)/rviz/test.rviz"/>
</launch>
