<launch>
    <include file = "$(find lidar_camera_fusion)/launch/lidar_camera_fusion_no_msg.launch" /> 

    <include file = "$(find octomap_server)/launch/octomap_server_start.launch" />

    <include file = "$(find octomap_generator)/launch/octomap_generator.launch" />
    
    <include file = "$(find agilex_navigation)/launch/move_base.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find agilex_navigation)/rviz/agilex_mini_nav.rviz"/>

</launch>
