<launch>

    <!-- 设置 launch 文件的参数 -->
    <arg name="world_name" value="$(find agilex_gazebo)/worlds/agilex_nav.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行 gazebo 仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find agilex_description)/urdf/xacro/gazebo/agilex_mini_gazebo.xacro'" />

    <!-- 运行 joint_state_publisher 节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- 运行 robot_state_publisher 节点，发布 tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在 gazebo 中加载机器人模型，会发布 /odom /cmd_vel /tf 等机器人底盘发布的话题 -->
    <!-- robot_description 必须存在，不要换成别的名字 -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model agilex -param robot_description"/>

    <node name="agilex_teleop" pkg="agilex_teleop" type="agilex_teleop.py" output="screen" launch-prefix="gnome-terminal -e">
        <param name="scale_linear" value="1.0" type="double"/>
        <param name="scale_angular" value="0.4" type="double"/>
    </node>
</launch>
