<launch>
    <arg name="map" default="mini_gazebo_map.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图，发布 /map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find agilex_navigation)/maps/$(arg map)"/>

    <include file = "$(find lidar_camera_fusion)/launch/lidar_camera_fusion_no_msg.launch" />

    <!-- octomap_generator 仿真会突然卡死，单独启动 mapping 也会，暂时未解决 -->
    <!--<include file = "$(find octomap_generator)/launch/octomap_generator.launch" />-->

    <!--<include file = "$(find octomap_server)/launch/octomap_server_start.launch" />-->
    
    <include file = "$(find agilex_navigation)/launch/mini_gazebo_nav/gazebo_move_base.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find agilex_navigation)/rviz/agilex_mini_nav.rviz"/>

</launch>