<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find agilex_navigation)/config/gazebo/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find agilex_navigation)/config/gazebo/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find agilex_navigation)/config/gazebo/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find agilex_navigation)/config/gazebo/local_costmap_params.yaml" command="load" />
        
        <rosparam file="$(find agilex_navigation)/config/gazebo/move_base_params.yaml" command="load" />
        
        <rosparam file="$(find agilex_navigation)/config/gazebo/global_planner_params.yaml" command="load" />
        <rosparam file="$(find agilex_navigation)/config/gazebo/teb_local_planner_params.yaml" command="load" />

        <!-- <remap from="map" to="projected_map"/> -->
        <!-- <remap from="odom" to="laser_odom_optimization_to_init"/> -->
    </node>

</launch>