<launch>

    <!-- 读取已经构建的地图，设置地图的配置文件 -->
    <arg name="map" default="mini_gazebo_map.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图，发布 /map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find agilex_navigation)/maps/$(arg map)"/>

    <!-- 运行 point_to_laser 节点 -->
    <include file="$(find agilex_navigation)/launch/agilex_pointcloud_to_laserscan.launch"/>

    <!-- 运行 move_base 节点 -->
    <include file="$(find agilex_navigation)/launch/lab1_gazebo_nav_with_map/lab1_move_base.launch"/>

    <!-- 启动 AMCL 节点 -->
    <include file="$(find agilex_navigation)/launch/lab1_gazebo_nav_with_map/lab1_amcl.launch" />

    <!-- 对于虚拟定位，需要设置一个 /odom 与 /map 之间的静态坐标变换 -->
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

    <!-- 运行 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find agilex_navigation)/rviz/agilex_mini_nav.rviz"/>

</launch>
